<h1>New division</h1>

<form action="/wizard/divide">
<label for="divide_1">Divide this:</label>
<input id="divide_1" type="text" name="number_1"> 

<label for="divide_2">by this:</label>
<input id="divide_2" type="text" name="number_2"> 


<button>Divide!</button>
</form>