<h1>New multiplication</h1>

<form action="/wizard/multiply">
<label for="multiply_1">Multiply this:</label>
<input id="multiply_1" type="text" name="number_1"> 

<label for="multiply_2">by this:</label>
<input id="multiply_2" type="text" name="number_2"> 


<button>Multiply!</button>
</form>