<h1>New subtraction</h1>

<form action="/wizard/subtract">
<label for="subtract_1">Subtract this:</label>
<input id="subtract_1" type="text" name="number_1"> 

<label for="subtract_2">from this:</label>
<input id="subtract_2" type="text" name="number_2"> 


<button>Subtract!</button>
</form>